<div class="announcement-bar color-{{ section.settings.color_scheme }} tw-flex tw-justify-center tw-align-center lg:tw-h-[50px] tw-h-[35px]">
  <span class="lg:tw-text-[14px] tw-text-[11px] tw-font-bold tw-uppercase tw-leading-[20px]">{{ section.settings.text }}</span>
</div>
{% schema %}
{
  "name": "Liz Announcement Bar",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Announcement Text"
    }
  ],
  "presets": [
    {
      "name": "Liz Announcement Bar"
    }
  ]
}
{% endschema %}